* {
  box-sizing: border-box;
}

html, body {
  font-family: 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;
  background: #f4f4f4;
}

// Editor

#canvas-scroller {
  overflow: auto;
  flex-grow: 1;
}

#canvas-background {
  padding: 1000px 100px;
  box-sizing: content-box;
}

#canvas {
  margin: 0 auto;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#canvas>svg {
  width: 100% !important;
  overflow: visible;
}

svg .object-selection{
  fill: none;
  stroke: #09C;
  stroke-width: 2;
  stroke-linecap: round;
}
svg .object-preselection{
  fill: none;
  stroke: #F00;
  stroke-width: 2;
  stroke-linecap: round;
}

svg .node-editor-node{
  fill: #fff;
  stroke: #069;
  stroke-width: 1;
  stroke-linecap: round;
}
svg .node-editor-lines{
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
  stroke-dasharray: . ;
}
svg .node-editor-handle{
  fill: #fff;
  stroke: #069;
  stroke-width: 1;
  stroke-linecap: round;
}


// Sidebar

#sidebar {
  flex-shrink: 0;
  width: 150px;
  background: #333;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
